@keyframes flashLive {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.draggable {
  -webkit-app-region: drag;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
